[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "2.7.1"
torchvision = "0.22.1"
tqdm = "4.67.1"
tensorboard = "2.19.0"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.11"
